body {
    font-size:16px;
    font-weight: normal;
    color:#111;
}

.content {

    padding-top:$padding-mobile;
    padding-bottom:$padding-mobile;

    @include media-breakpoint-up(md){
        padding-top:$padding-tablet;
        padding-bottom:$padding-tablet;
    }

    @include media-breakpoint-up(lg){
        padding-top:$padding-desktop;
        padding-bottom:$padding-desktop;
    }

}

img {
    max-width:100%;
    height:auto;
}

.sticky {
    position:sticky!important;
    top:0;
    background:#fff;
}
